<h1>検索</h1>
<%= search_form_for @q, url: search_result_path do |f| %>
<div class="form__group">
  <%= f.label :company_cont %>
  <%= f.search_field :company_cont %>
</div>
<div class="form__group">
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
</div>
<div class="form__group">
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>
</div>
<div class="form__group">
  <%= f.label :phone_cont %>
  <%= f.search_field :phone_cont %>
</div>
<div class="form__group">
  <%= f.label :content_cont %>
  <%= f.search_field :content_cont %>
</div>
<%= f.submit %>
<% end %>