<p class="idxctt__itemsum"><%= contacts.total_count %>件</p>
<table class="idxctt__table">
  <tr>
    <th>日時</th>
    <th><%= sort_link(@q, :company, "会社名") %></th>
    <th><%= sort_link(@q, :name, "Name") %></th>
    <th>フリガナ</th>
    <th><%= sort_link(@q, :email, "メールアドレス") %></th>
    <th><%= sort_link(@q, :phone, "電話番号") %></th>
    <th>問い合わせ内容</th>
    <th>ステータス</th>
    <th></th>
  </tr>
  <% contacts.each do |contact| %>
  <tr>
    <td><%= l(contact.created_at, format: :short) %></td>
    <td><%= contact.company %></td>
    <td><%= contact.name %></td>
    <td><%= contact.kana %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.content.truncate(10) %></td>
    <td><%= put_status(contact) %></td>
    <td><%= link_to '詳細', edit_contact_path(contact) %></td>
  </tr>
  <% end %>
</table>
<div class="idxctt__pager">
  <%= paginate contacts %>
</div>